<%if @user.errors %>
  <div class="User Errors">
    <%@user.errors.full_messages.each do |message| %>
      <h2> <%="#{message}" %> </h2>
    <%end %>
  </div>
<%end %>
<h1>Sign up?</h1>

<%= render 'form' %>

<%= link_to 'Back', root_path %>
