// Normalize.css resets base styles to a common default across browsers
// Read more: https://necolas.github.io/normalize.css/
// You can find this file in vendor/assets/stylesheets
@import 'normalize';

// Third-party stylesheets
@import "font-awesome-sprockets";
@import "font-awesome";

// Base styles
@import 'variables';
@import 'base';
@import 'layout';
@import 'forms';
@import 'typography';

// Module styles
@import 'projects';

.logo {
  background-color: pink;
  font-size: 2rem;
}

.site-nav {
  background-color: rgb(247, 207, 225);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

span {
  font-weight: bold;
}

.error_message {
  font-size: 1.5em;
}

.site-header {
  margin-bottom: 0
}

.site-footer {
  padding: 0.5rem;
  background-color: rgb(165, 198, 255);
}

.flash-notice, .flash-alert {
  display: inline-block;
  margin: 0.5rem;
}

.flash-notice {
  background-color: rgb(206, 244, 183);
}

.flash-alert {
  background-color: red;
}

.after_end_date {
  color: red;
}
